<% layout('layout/boilerplate') %>
    <div class="Posts">
        <h1>Edit Your Post</h1>
        <br>
        <form class="" action="/posts/<%=post._id%>?_method=PATCH" method="POST">
            <p>User: <%= post.author %>
            </p>
            <div>
                <label class="form-label" for="title">Title:</label>
                <input class="form-control" value="<%= post.title %>" type="text" name="title" id="title"
                    placeholder="title" required>
                <div class="invalid-feedback">
                    You cannot have the title empty
                </div>
            </div>

            <br>
            <label class="form-label" for="text">Post Content:</label>
            <section>
                <textarea class="form-control" name="text" id="text" cols="100" rows="10"><%= post.text %> </textarea>
            </section>
            <label class="form-label mt-3" for="inputGroupFile03">Image URL: </label>
            <div class="mb-3">
                <input class="form-control" value="<%= post.image%> " type="text" id="image" name="image">
            </div>

            <br>
            <button class="btn btn-sm btn-outline-secondary">Update</button>
        </form>
        <br>
        <br>
        <div class="mb-3">
            <a class="btn btn-sm btn-outline-secondary" href="/posts/<%= post._id %>">Back to Original Post</a>
            <a class="btn btn-sm btn-outline-secondary" href="/">Back to All Posts</a>
        </div>
    </div>